* {
  box-sizing: border-box;
}

img {
    height: 3.5em;
  }

  body {
    background: white;
    margin: 0;
    width: 100%;
  }

  header:first-of-type {
    border-bottom: solid 1px rgb(240, 240, 240);
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    width: 100%
  }

svg {
    width: 2%;
}

 header:last-of-type {
    border-bottom: solid 1px rgb(240, 240, 240);
    background: rgb(240, 240, 240);
    width: 100%
  }

  .vergrootglas {
    height: 2.5em;
    width: 2.5em;
    margin-left: 0.5em;
    padding-left: 1.2em;
    padding-right: 1em;
  }

  .zoekbalk {
    display: flex;
    align-items: center;
    
  }

  .text-zoekbalk {
    border-style: none;
    width: 105em;
    background: rgb(240, 240, 240);
  }

  .text-zoekbalk:focus-visible {
    outline-style: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 1fr;
    grid-gap: 10px;
    margin-left: 1em;
    margin-right: 1em;
  }

  .grid-item {

    background: rgb(225, 225, 225)
  }

  .afbeelding {
    height: 18.5em;
    width: 32em;
  }